# Kconfig - I2S (Inter-IC Sound) driver configuration options
#
# Copyright (c) 2017 Piotr Mienkowski
# SPDX-License-Identifier: Apache-2.0
#

#
# I2S Drivers
#
menuconfig I2S
	bool
	prompt "I2S bus drivers"
	help
	  Enable support for the I2S (Inter-IC Sound) hardware bus.

if I2S

config I2S_INIT_PRIORITY
	int "Init priority"
	default 70
	help
	  Device driver initialization priority.

config SYS_LOG_I2S_LEVEL
	int "I2S Driver Log level"
	depends on SYS_LOG
	default 0
	range 0 4
	help
	  Sets log level for I2S drivers.
	  Levels are:
	  0 OFF, do not write
	  1 ERROR, only write SYS_LOG_ERR
	  2 WARNING, write SYS_LOG_WRN in addition to previous level
	  3 INFO, write SYS_LOG_INF in addition to previous levels
	  4 DEBUG, write SYS_LOG_DBG in addition to previous levels

config	I2S_1
	bool "I2S port 1"
	default n
	help
	  Enable I2S controller port 1.

if I2S_1

config I2S_1_NAME
	string "I2S port 1 device name"
	default "I2S_1"

endif # I2S_1

config	I2S_2
	bool "I2S port 2"
	default n
	help
	  Enable I2S controller port 2.

if I2S_2

config I2S_2_NAME
	string "I2S port 2 device name"
	default "I2S_2"

endif # I2S_2

config	I2S_3
	bool "I2S port 3"
	default n
	help
	  Enable I2S controller port 3.

if I2S_3

config I2S_3_NAME
	string "I2S port 3 device name"
	default "I2S_3"

endif # I2S_3

config	I2S_4
	bool "I2S port 4"
	default n
	help
	  Enable I2S controller port 4.

if I2S_4

config I2S_4_NAME
	string "I2S port 4 device name"
	default "I2S_4"

endif # I2S_4

config	I2S_5
	bool "I2S port 5"
	default n
	help
	  Enable I2S controller port 5.

if I2S_5

config I2S_5_NAME
	string "I2S port 5 device name"
	default "I2S_5"

endif # I2S_5

comment "Device Drivers"

gsource "drivers/i2s/Kconfig.*"

endif # I2S
