/*
 * Copyright (c) 2020 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Mode 2: SensorHub Mode
 *
 *   JP7 => 2-3 (I2C1 = I2Cx)
 *   JP8 => 2-3 (I2C1 = I2Cx)
 *
 * Only ISM330DHCX and IIS2DLPC sensors are accessible from the main board mcu.
 * IIS2MDC is connected directly to ISM330DHCX SCx/SDX (I2Cx) pins, so it is not
 * declared in DTS file.
 */

&arduino_i2c {

	iis2dlpc@19 {
		compatible = "st,iis2dlpc";
		reg = <0x19>;
		drdy-gpios =  <&arduino_header 4 GPIO_ACTIVE_HIGH>; /* A4 - INT2 */
		drdy-int =  <2>;
		label = "IIS2DLPC";
	};

	iis2iclx@6b {
		compatible = "st,iis2iclx";
		reg = <0x6b>;
		drdy-gpios =  <&arduino_header 11 GPIO_ACTIVE_HIGH>; /* D5 - INT2 */
		int-pin = <2>;
		label = "IIS2ICLX_0";
	};

#if 0
	iis2iclx@6a {
		compatible = "st,iis2iclx";
		reg = <0x6a>;
		drdy-gpios =  <&arduino_header 5 GPIO_ACTIVE_HIGH>; /* A5 */
		int-pin = <1>;
		label = "IIS2ICLX_1";
	};
#endif
};

#if 1
&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;                        /* D10 */

	iis2iclx@0 {
		status = "ok";
		compatible = "st,iis2iclx";
		reg = <0x0>;
		label = "IIS2ICLX_1";
		spi-max-frequency = <1000000>;
		drdy-gpios = <&arduino_header 5 GPIO_ACTIVE_HIGH>;       /* A5 */
		int-pin = <1>;
	};
};
#endif
