/*
 * Copyright (c) 2019 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_i2c {

	lis2mdl@1e {
		compatible = "st,lis2mdl";
		reg = <0x1e>;
		irq-gpios =  <&arduino_header 2 GPIO_ACTIVE_HIGH>; /* A2 */
		label = "LIS2MDL";
	};
};

#if 1
&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;                        /* D10 */

	lis2mdl@0 {
		status = "ok";
		compatible = "st,lis2mdl";
		reg = <0x0>;
		label = "LIS2MDL_SPI";
		spi-full-duplex;
		spi-max-frequency = <1000000>;
		irq-gpios = <&arduino_header 5 GPIO_ACTIVE_HIGH>;       /* A5 */
	};
};
#endif
