/*
 * Copyright (c) 2019 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_i2c {

	lis2dw12@19 {
		compatible = "st,lis2dw12";
		reg = <0x19>;
		irq-gpios =  <&arduino_header 3 GPIO_ACTIVE_HIGH>; /* A3 */
		label = "LIS2DW12";
		power-mode = <4>;
	};
};

#if 1
&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;                        /* D10 */

	lis2dw12@0 {
		status = "ok";
		compatible = "st,lis2dw12";
		reg = <0x0>;
		label = "LIS2DW12_DIL24";
		spi-max-frequency = <1000000>;
		irq-gpios = <&arduino_header 8 GPIO_ACTIVE_HIGH>;       /* D2 */
		int-pin = <2>;
		tap-mode = <0>;
		tap-threshold = <14>, <14>, <14>;
		tap-shock = <0>;
		tap-latency = <0>;
		tap-quiet = <1>;
		power-mode = <4>;
	};
};
#endif
