/*
 * Copyright (c) 2019 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_i2c {
#if 1
	lsm6dso@6b {
		compatible = "st,lsm6dso";
		reg = <0x6b>;
		irq-gpios =  <&arduino_header 11 GPIO_ACTIVE_HIGH>; /* D5 */
		label = "LSM6DSO";
		int-pin = <2>;
	};
#endif
};

#if 1
&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;                        /* D10 */

	lsm6dso@0 {
		status = "ok";
		compatible = "st,lsm6dso";
		reg = <0x0>;
		label = "LSM6DSO_SPI";
		spi-max-frequency = <1000000>;
		irq-gpios = <&arduino_header 5 GPIO_ACTIVE_HIGH>;       /* A5 */
		//int-pin = <1>;
	};
};
#endif
